@import "tailwindcss";
body{
  user-select: none;
}
.resume-link {
  display: inline-block;
  animation: scaleInfinite 1s infinite alternate;
}
@keyframes scaleInfinite {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* O'lchamni kattalashtirish */
  }
}